div:hover{
    border: 2px solid red;
}

div:nth-of-type(1){
    background-color: blue;
}
div:nth-of-type(2){
    background-color: red;
}
div:nth-of-type(3){
    background-color: brown;
    line-height: 50px;
}
div:nth-of-type(4){
    background-color: green;
}
div:nth-of-type(5){
    background-color: gray;
}

div:nth-of-type(1) h3{
    color: gray;;
}
div:nth-of-type(2){
    color: gold;
}
div:nth-of-type(3){
    color: red;
}
div:nth-of-type(4){
    color: blue;
}
div:nth-of-type(5){
    color: brown;
}

div:nth-of-type(odd) h3{
    font-style: italic;
}

/*
1 - Estilize as divs para que, ao passar o cursor por cima das mesmas, elas ganhem uma borda. v
2 - Faça cada div ter uma cor própria. v
3 - Estilize cada uma das tags h3. v
4 - Faça a terceira div ser maior que as demais. v
5 - Deixe as tags ímpares h3 com o texto em itálico.
*/